.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}

.el-col {
  border-radius: 4px;
  background-color: #fff;
  /* margin-right: 20px; */
  height: 100%;
}

.material-header {

  padding: 10px;
  color: #666;
  border-bottom: 2px solid #f0f2f5;

  .tit {
    flex: 1;
  }
}

.material-content {
  padding: 10px;
}